In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
import pgeocode
nomi = pgeocode.Nominatim('IN')
import warnings
warnings.simplefilter('ignore')

In [4]:
Data_plantmaster = pd.read_excel("Plant Master.xlsx")
Data_JTD = pd.read_csv("JTD.csv",low_memory = False)
Data_Customer = pd.read_excel("Customer_Data.xlsx")
Data_Finalinvoice = pd.read_csv("Final_invoice.csv",low_memory = False)

In [70]:
Data_Customer.shape

(555338, 9)

In [71]:
Data_Customer.head(2)

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaT
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaT

In [ ]:
Data_plantmaster.shape

In [74]:
Data_plantmaster.head(4)

,Plant,Name 1,Valuation Area,Customer no. - plant,Vendor number plant,Factory calendar,Name 2,House number and street,PO Box,Postal Code,City,Sales organization,State
0,BC07,NERKUNDRAM,BC07,PLBC07,PLBC07,IN,NaN,"No.117 Poonamallee High Road,",600107.0,600107,Chennai,MFCS,Tamil Nadu
1,BC30,SAS NAGAR - MOHALI,BC30,PLBC30,PLBC30,IN,NaN,"C-118, Phase 07,",160055.0,160055,Mohali,MFCS,Punjab
2,X001,X001 - AUTO PLANET WHEELS,X001,PLX001,NaN,IN,Thane,"Unit No.3, Kothari Compound,",400610.0,400610,Thane,MFCA,Maharashtra
3,X002,X002 - BHANDARI INDUSTRIES PVT,X002,PLX002,NaN,IN,Ghaziabad,"18/1, C Site 4, Sahibabad",201010.0,201010,Ghaziabad,MFCA,Uttar Pradesh

In [ ]:
Data_plantmaster.drop(columns=["Factory calendar","Customer no. - plant","Valuation Area","Vendor number plant","PO Box","Name 2","Postal Code"],inplace=True)

In [ ]:
Data_plantmaster.shape

In [ ]:
Data_plantmaster.head()

In [ ]:
Data_JTD.shape

In [73]:
Data_JTD.head(2)

,Unnamed: 0,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,0,22385,180,OSLCC_SRV31,NaN,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,1,23910,10,1DM279018170117,NaN,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13

In [ ]:
Data_JTD['Labor Value Number'].value_counts()

In [ ]:
Data_JTD.columns

In [ ]:
Data_JTD.drop(columns=["Unnamed: 0","Material","Labor Value Number","Order Item"],inplace=True)

In [ ]:
Data_JTD.head(2)

In [ ]:
Data_JTD.shape

In [ ]:
Data_Finalinvoice.shape

In [72]:
Data_Finalinvoice.head(5)

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,Claim No.,Cust Type,Customer No.,District,Expiry Date,Gate Pass Date,Gate Pass Time,IGST(12%),IGST(18%),IGST(28%),IGST(5%),Insurance Company,Invoice Date,Invoice No,Invoice Time,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,ODN No.,OSL Total,Order Type,Outstanding Amt,Parts Total,Pin code,Plant,Plant Name1,Policy no.,Print Status,Recovrbl Exp,Regn No,SGST/UGST(14%),SGST/UGST(2.5%),SGST/UGST(6%),SGST/UGST(9%),Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,NaN,Retail,67849,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-02,7005200002,11:30:36,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,7.005200e+09,500.06,Paid Service,0.0,2348.75,400601,BC01,THANE,NaN,NO,0.0,KA19MA1291,0.0,0.0,0.0,0.0,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,NaN,Retail,84419,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200003,10:07:32,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,7.005200e+09,0.00,SMC Value Package,0.0,0.00,400603,BC01,THANE,NaN,NO,0.0,MH43R3046,0.0,0.0,0.0,0.0,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,NaN,Retail,81055,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200004,11:12:57,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,7.005200e+09,0.00,Running Repairs,0.0,52.95,400607,BC01,THANE,NaN,NO,0.0,AP09AX0582,0.0,0.0,0.0,0.0,NaN,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,NaN,Retail,84419,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200005,11:40:44,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,7.005200e+09,0.00,SMC Redemption,0.0,0.00,400603,BC01,THANE,NaN,NO,0.0,MH43R3046,0.0,0.0,0.0,0.0,NaN,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,NaN,Retail,18980,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200006,12:07:17,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,7.005200e+09,499.99,Paid Service,0.0,944.16,400603,BC01,THANE,NaN,NO,0.0,MH04CD9768,0.0,0.0,0.0,0.0,NaN,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [ ]:
Data_Finalinvoice.isnull().sum()

### Deriving total service time from invoice date time & job card date time

In [ ]:
Data_Finalinvoice["Invoice_DateTime"]=Data_Finalinvoice["Invoice Date"]+' '+Data_Finalinvoice["Invoice Time"]
Data_Finalinvoice["JobCard_DateTime"]=Data_Finalinvoice["JobCard Date"]+' '+Data_Finalinvoice["JobCard Time"]
Data_Finalinvoice['JobCard_DateTime'] = pd.to_datetime(Data_Finalinvoice['JobCard_DateTime'],dayfirst=True)
Data_Finalinvoice['Invoice_DateTime'] = pd.to_datetime(Data_Finalinvoice['Invoice_DateTime'],dayfirst=True)
Data_Finalinvoice["Service_Time"]=Data_Finalinvoice["Invoice_DateTime"]-Data_Finalinvoice["JobCard_DateTime"]

In [ ]:
Data_Finalinvoice.columns

In [ ]:
Data_Finalinvoice.isnull().sum()

In [ ]:
Data_Finalinvoice["updated_CITY"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).county_name
Data_Finalinvoice["updated_District"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).state_name
Data_Finalinvoice["updated_Location_Area"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).place_name

In [ ]:
Data_Finalinvoice["CITY"] = Data_Finalinvoice["CITY"].str.lower()
Data_Finalinvoice["updated_CITY"] = Data_Finalinvoice["updated_CITY"].str.lower()

In [ ]:
Data_Finalinvoice["District"] = Data_Finalinvoice["District"].str.lower()
Data_Finalinvoice["updated_District"] = Data_Finalinvoice["updated_District"].str.lower()

In [ ]:
Data_Finalinvoice.head(2)

In [ ]:
Data_Finalinvoice["invoice_year"] = Data_Finalinvoice["Invoice_DateTime"].dt.year

In [ ]:
Data_Finalinvoice.groupby(["Plant","invoice_year"]).agg({"Total Value":"mean"}).head(15)

### nan value impute updated city

In [ ]:
o = Data_Finalinvoice[Data_Finalinvoice["updated_CITY"].isnull()]

In [ ]:
l = Data_Finalinvoice[Data_Finalinvoice["updated_CITY"].notnull()]

In [ ]:
x = list(o["CITY"].value_counts().keys())

In [ ]:
z = list(l["updated_CITY"].value_counts().keys())

In [ ]:
def common_mem(a, b):
    a_set = set(a)
    b_set = set(b)
  
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

In [ ]:
common_mem(x,z )

In [ ]:
xz = ['jharsuguda', 'nalgonda', 'ujjain', 'hassan', 'bhilwara', 'rajgarh', 'amravati', 'madurai', 'karur', 'jaipur', 'chittoor', 'villupuram', 'thrissur', 'hingoli', 'hamirpur', 'ajmer', 'patiala', 'varanasi', 'kurnool', 'jhansi', 'vijayapura', 'rupnagar', 'hyderabad', 'jammu', 'ernakulam', 'sheohar', 'nainital', 'kamrup', 'purnia', 'haridwar', 'warangal', 'koppal', 'vellore', 'sangrur', 'umaria', 'jalna', 'sidhi', 'nizamabad', 'una', 'samastipur', 'dindigul', 'kurukshetra', 'sirsa', 'ariyalur', 'vadodara', 'kota', 'churu', 'mohali', 'sangli', 'pondicherry', 'ranchi', 'gaya', 'jalpaiguri', 'kanchipuram', 'perambalur', 'kaithal', 'hoshiarpur', 'udaipur', 'jhajjar', 'prakasam', 'jalaun', 'jamui', 'meerut', 'etah', 'panchkula', 'kullu', 'ahmedabad', 'solan', 'aligarh', 'idukki', 'darbhanga', 'jalgaon', 'kolkata', 'dausa', 'cuddalore', 'bagalkot', 'ambala', 'mathura', 'raigarh', 'dhule', 'jalandhar', 'gadchiroli', 'bhadrak', 'pauri garhwal', 'ghaziabad', 'bidar', 'mysuru', 'nashik', 'mirzapur', 'ghazipur', 'seoni', 'raichur', 'dehradun', 'nagpur', 'mau', 'mumbai', 'coimbatore', 'bhiwani', 'nagapattinam', 'dahod', 'chandrapur', 'dhenkanal', 'tikamgarh', 'hisar', 'gwalior', 'dharwad', 'bathinda', 'panipat', 'nandurbar', 'anand', 'gorakhpur', 'khammam', 'satara', 'valsad', 'muktsar', 'begusarai', 'kozhikode', 'alappuzha', 'new delhi', 'pali', 'dhanbad', 'gurgaon', 'bharuch', 'tuticorin', 'navsari', 'chhindwara', 'chikkamagaluru', 'kolar', 'daman', 'muzaffarpur', 'buldhana', 'fatehabad', 'yamuna nagar', 'bhagalpur', 'davangere', 'malappuram', 'mahendragarh', 'mandi', 'medak', 'kanyakumari', 'wayanad', 'kodagu', 'pathanamthitta', 'mahesana', 'sonipat', 'theni', 'namakkal', 'ludhiana', 'sawai madhopur', 'barnala', 'patna', 'bengaluru', 'jind', 'farrukhabad', 'chennai', 'surat', 'patan', 'amritsar', 'ropar', 'nanded', 'sonbhadra', 'krishna', 'jaunpur', 'thane', 'chandigarh', 'gurdaspur', 'thanjavur', 'moga', 'sikar', 'ratnagiri', 'akola', 'virudhunagar', 'chitradurga', 'hathras', 'vidisha', 'kalaburagi', 'kasargod', 'fatehgarh sahib', 'betul', 'firozabad', 'latur', 'erode', 'adilabad', 'salem', 'rohtak', 'neemuch', 'udupi', 'solapur', 'mandya', 'parbhani', 'bulandshahr', 'bareilly', 'tiruvarur', 'kangra', 'kapurthala', 'krishnagiri', 'jabalpur', 'indore', 'munger', 'balaghat', 'rampur', 'dharmapuri', 'mainpuri', 'pune', 'ramgarh', 'kottayam', 'dholpur', 'cuttack', 'shimla', 'puri', 'bijnor', 'barmer', 'jhabua', 'guntur', 'lucknow', 'karauli', 'faridkot', 'aurangabad', 'sundergarh', 'agra', 'chittorgarh', 'jodhpur', 'ganganagar', 'rewari', 'beed', 'sitamarhi', 'washim', 'tirunelveli', 'gondia', 'mansa', 'faridabad', 'allahabad', 'pudukkottai', 'palakkad', 'osmanabad', 'bokaro', 'chandauli', 'dewas', 'ratlam', 'lakhisarai', 'raipur', 'nellore', 'moradabad', 'kolhapur', 'firozpur', 'karaikal', 'kannur', 'rajkot', 'karnal', 'wardha', 'kollam', 'panna', 'bhandara', 'bhopal', 'ramanathapuram', 'korba']

In [ ]:
d = []
for i in xz:
    j = o[o["CITY"] == i]
    d.append(i)

In [ ]:
for i in d:
    a = o[o.CITY==i].index
    print(i)
    for j in a:
        o.updated_CITY.loc[j] = i

In [ ]:
Data_Finalinvoice.columns

### impute nan value for updated district

In [ ]:
g = list(o["District"].value_counts().keys())

In [ ]:
h = list(l["updated_District"].value_counts().keys())

In [ ]:
def common_mem(a, b):
    a_set = set(a)
    b_set = set(b)
  
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

In [ ]:
common_mem(g,h)

In [ ]:
gh = ['rajasthan', 'maharashtra', 'tamil nadu', 'madhya pradesh', 'assam', 'kerala', 'west bengal', 'odisha', 'gujarat', 'arunachal pradesh', 'chandigarh', 'karnataka', 'jharkhand', 'bihar', 'uttarakhand', 'punjab', 'delhi', 'andhra pradesh', 'telangana', 'uttar pradesh', 'goa', 'himachal pradesh', 'haryana', 'lakshadweep']

In [ ]:
s = []
for i in gh:
    j = o[o["District"] == i]
    s.append(i)

In [ ]:
for i in s:
    a = o[o.District==i].index
    print(i)
    for j in a:
        o.updated_District.loc[j] = i

In [ ]:
o.shape

In [ ]:
o.isnull().sum()

In [ ]:
Data_Finalinvoice.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","Customer No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [ ]:
o.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","Customer No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [ ]:
o['Model'] = o['Model'].fillna(o['Model'].mode()[0])

In [ ]:
o["Total Value"].fillna((o["Total Value"].median()), inplace=True)

In [ ]:
o['Technician Name'] = o['Technician Name'].fillna(o['Technician Name'].mode()[0])

In [ ]:
o.notnull().sum()

In [ ]:
o.isnull().sum()

In [ ]:
l.notnull().sum()

In [ ]:
l.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","Customer No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [ ]:
l['Model'] = l['Model'].fillna(l['Model'].mode()[0])

In [ ]:
l.isnull().sum()

### Cleaned o dataframe

In [ ]:
o.shape

In [ ]:
l.shape

In [ ]:
frames = [l,o]

In [ ]:
semi_cleaned_data =  pd.concat(frames)

In [ ]:
semi_cleaned_data.to_csv('semi_cleaned_Finalinvoice.csv')

In [ ]:
semi_cleaned_data.isnull().sum()

In [5]:
Semi_cleaned_data = pd.read_csv("semi_cleaned_Finalinvoice.csv")

In [6]:
copy_fi = Semi_cleaned_data.copy()

In [7]:
copy_fi.head(5)

,Unnamed: 0,Cust Type,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53.000000000,thane,maharashtra
1,1,Retail,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14.000000000,thane,maharashtra
2,2,Retail,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13.000000000,thane,maharashtra
3,3,Retail,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,0.00,0.00,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12.000000000,thane,maharashtra
4,4,Retail,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35.000000000,thane,maharashtra

In [8]:
copy_fi.columns

Index(['Unnamed: 0', 'Cust Type', 'Insurance Company', 'Invoice Date',
       'Job Card No', 'JobCard Date', 'JobCard Time', 'KMs Reading',
       'Labour Total', 'Make', 'Misc Total', 'Model', 'OSL Total',
       'Order Type', 'Parts Total', 'Pin code', 'Plant', 'Plant Name1',
       'Print Status', 'Recovrbl Exp', 'Technician Name', 'Total Amt Wtd Tax.',
       'Total Value', 'User ID', 'Invoice_DateTime', 'JobCard_DateTime',
       'Service_Time', 'updated_CITY', 'updated_District'],
      dtype='object')

In [9]:
copy_fi["Order Type"].value_counts()

Running Repairs      269455
Paid Service         135004
Accidental            44159
SMC Redemption        15738
Mechanical            15100
SMC Value Package      9781
Repeat Order           3043
WBW Order                17
Workshop Damage          17
Name: Order Type, dtype: int64

In [10]:
copy_fi.shape

(492314, 29)

### Dropping rows where order type is the paid service and total value is still 0.

In [11]:
temp1 = copy_fi[(copy_fi["Order Type"] == "Paid Service") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [12]:
temp1

Int64Index([    25,    550,    635,    684,    725,    758,    814,    913,
              1040,   1119,
            ...
            474294, 474304, 474313, 474329, 474337, 474367, 474398, 474414,
            475937, 476467],
           dtype='int64', length=1938)

In [13]:
copy_fi.drop(temp1 , inplace=True)

In [14]:
copy_fi.shape

(490376, 29)

### Dropping rows where order type is Accidental , also where insurance is not been taken also total value is 0

In [15]:
temp2 = copy_fi[(copy_fi["Order Type"] == "Accidental") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [16]:
copy_fi.drop(temp2 , inplace=True)

In [17]:
copy_fi.shape

(490123, 29)

In [18]:
copy_fi.groupby(["Order Type"])["Total Value"].count()

Order Type
Accidental            29017
Mechanical             1266
Paid Service          83098
Repeat Order           2819
Running Repairs      169436
SMC Redemption        13847
SMC Value Package      8943
WBW Order                 4
Workshop Damage          17
Name: Total Value, dtype: int64

### Dropping rows where order type is Repeat Order , also where insurance is not been taken and where total value is still 0

In [19]:
temp3 = copy_fi[(copy_fi["Order Type"] == "Repeat Order") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [20]:
copy_fi.drop(temp3,inplace=True)

### Replacing 0 from total value where order type is SMC Redemption with the median where total value is non zero

In [21]:
copy_fi.loc[(copy_fi["Order Type"] == "SMC Redemption") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Value"]= 1644.7

### Replacing 0 from total value where order type is Running Repairs with the median where total value is non zero

In [22]:
copy_fi.loc[(copy_fi["Order Type"] == "Running Repairs") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Value"]= 1644.7

In [23]:
copy_fi["Order Type"].value_counts()

Running Repairs      269455
Paid Service         133066
Accidental            43906
SMC Redemption        15738
Mechanical            15100
SMC Value Package      9781
Repeat Order            247
WBW Order                17
Workshop Damage          17
Name: Order Type, dtype: int64

In [24]:
copy_fi.head(2)

,Unnamed: 0,Cust Type,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53.000000000,thane,maharashtra
1,1,Retail,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14.000000000,thane,maharashtra

In [25]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Insurance Company     463736
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       215802
Total Amt Wtd Tax.         0
Total Value           181676
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20071
updated_District         170
dtype: int64

### Dropping rows where Total Amt Wtd Tax is negative

In [26]:
negative_values = copy_fi[(copy_fi["Total Amt Wtd Tax."] < 0)].index

In [27]:
copy_fi.drop(negative_values , inplace=True)

In [28]:
copy_fi.shape

(487319, 29)

### 0 value imputation for Total Amt Wtd Tax

### Dropping rows where order type is the paid service and Total Amt Wtd Tax is still 0.

In [29]:
copy_fi.shape

(487319, 29)

In [30]:
temp4 = copy_fi[(copy_fi["Order Type"] == "Paid Service") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [31]:
copy_fi.drop(temp4 , inplace=True)

In [32]:
copy_fi.shape

(485484, 29)

### Dropping rows where order type is Accidental , also where insurance is not been taken also Total Amt Wtd Tax is 0

In [33]:
temp5 = copy_fi[(copy_fi["Order Type"] == "Accidental") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [34]:
copy_fi.drop(temp5 , inplace=True)

In [35]:
copy_fi.shape

(485262, 29)

### Dropping rows where order type is Repeat Order , also where insurance is not been taken and where Total Amt Wtd Tax is still 0

In [36]:
temp6 = copy_fi[(copy_fi["Order Type"] == "Repeat Order") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [37]:
copy_fi.drop(temp6,inplace=True)

### Replacing 0 from Total Amt Wtd Tax where order type is SMC Redemption with the median where Total Amt Wtd Tax is non zero

In [38]:
copy_fi.shape

(485044, 29)

In [39]:
copy_fi.loc[(copy_fi["Order Type"] == "SMC Redemption") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 1674.22433

### Replacing 0 from Total Amt Wtd Tax where order type is Running Repairs with the mean where Total Amt Wtd Tax is non zero

In [40]:
copy_fi.loc[(copy_fi["Order Type"] == "Running Repairs") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 2835.56

In [41]:
copy_fi.shape

(485044, 29)

### Replacing 0 from Total Amt Wtd Tax where order type is Mechanical with the mean where Total Amt Wtd Tax is non zero

In [42]:
d = copy_fi.loc[(copy_fi["Total Amt Wtd Tax."] != 0) & (copy_fi["Insurance Company"].isnull()) & (copy_fi["Order Type"] == "Mechanical")]

In [43]:
d["Total Amt Wtd Tax."].mean()

3461.956168433827

In [44]:
d["Total Amt Wtd Tax."].median()

1367.2

In [45]:
d["Total Amt Wtd Tax."].min()

0.01

In [46]:
d["Total Amt Wtd Tax."].max()

232668.17

In [47]:
copy_fi.loc[(copy_fi["Order Type"] == "Mechanical") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 3461.95

In [48]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Insurance Company     461453
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20005
updated_District         170
dtype: int64

### Imputing nan values of updated district.

In [49]:
copy_fi.loc[(copy_fi["Plant Name1"] == "VAPI") & (copy_fi["updated_District"].isnull()),"updated_District"]= "gujarat"

In [50]:
copy_fi.head()

,Unnamed: 0,Cust Type,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95000,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53.000000000,thane,maharashtra
1,1,Retail,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29000,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14.000000000,thane,maharashtra
2,2,Retail,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14000,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13.000000000,thane,maharashtra
3,3,Retail,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1674.22433,1644.70,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12.000000000,thane,maharashtra
4,4,Retail,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12000,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35.000000000,thane,maharashtra

In [51]:
copy_fi.loc[(copy_fi["Plant Name1"] == "X008- AAKASH AUTO (Puducherry)") & (copy_fi["updated_District"].isnull()),"updated_District"]= "pondicherry"

In [52]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Insurance Company     461453
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20005
updated_District          76
dtype: int64

In [53]:
temp7 = copy_fi.loc[(copy_fi["updated_District"].isnull())].index

In [54]:
copy_fi.drop(temp7 , inplace=True)

### impute nan values of updated city column

In [55]:
copy_fi.loc[(copy_fi["Plant Name1"] == "YESHWANTPUR - BANGALORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "bengaluru"
copy_fi.loc[(copy_fi["Plant Name1"] == "NAGPUR") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nagpur"
copy_fi.loc[(copy_fi["Plant Name1"] == "NASHIK") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nashik"
copy_fi.loc[(copy_fi["Plant Name1"] == "HADAPSAR - PUNE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "pune"
copy_fi.loc[(copy_fi["Plant Name1"] == "X062 - S N S MOTORS MYSORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "mysuru"
copy_fi.loc[(copy_fi["Plant Name1"] == "SAS NAGAR - MOHALI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "mohali"
copy_fi.loc[(copy_fi["Plant Name1"] == "GREATER NOIDA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "gautam buddha nagar"
copy_fi.loc[(copy_fi["Plant Name1"] == "PANCHKULLA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "panchkula"
copy_fi.loc[(copy_fi["Plant Name1"] == "NERUL - NAVI MUMBAI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nerul - navi mumbai"
copy_fi.loc[(copy_fi["Plant Name1"] == "VAPI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "valsad"
copy_fi.loc[(copy_fi["Plant Name1"] == "SURAT UDHANA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "surat"
copy_fi.loc[(copy_fi["Plant Name1"] == "FARIDABAD 1") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "faridabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "NELLORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nellore"
copy_fi.loc[(copy_fi["Plant Name1"] == "MOHAN NAGAR - GAZIABAD") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "ghaziabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "X017 - HEM KIRAN DIESELS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "kolhapur"
copy_fi.loc[(copy_fi["Plant Name1"] == "X110 - KALYAN SERVICES") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X034 - SOHAMM MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "aurangabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "X012 - SR CAR CARE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "cuddalore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X023 - ROYAL KRR AUTOS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X036 - X-PRESS MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "madurai"
copy_fi.loc[(copy_fi["Plant Name1"] == "THANE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "thane"
copy_fi.loc[(copy_fi["Plant Name1"] == "BELLANDUR - BANGALORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "bengaluru"
copy_fi.loc[(copy_fi["Plant Name1"] == "COIMBATORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X010 - LVM MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "vellore"

In [58]:
temp8 = copy_fi[(copy_fi["updated_CITY"].isnull())].index

In [59]:
copy_fi.drop(temp8 , inplace=True)

In [65]:
copy_fi.head()

,Cust Type,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,Retail,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95000,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53.000000000,thane,maharashtra
1,Retail,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29000,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14.000000000,thane,maharashtra
2,Retail,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14000,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13.000000000,thane,maharashtra
3,Retail,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1674.22433,1644.70,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12.000000000,thane,maharashtra
4,Retail,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12000,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35.000000000,thane,maharashtra

In [64]:
copy_fi.drop(columns=["Unnamed: 0"],inplace=True)

In [67]:
copy_fi["year"] = pd.DatetimeIndex(copy_fi["JobCard_DateTime"]).year

In [69]:
copy_fi["month"] = pd.DatetimeIndex(copy_fi["JobCard_DateTime"]).month

In [ ]:
"updated_District": "State", "updated_CITY": "City"

In [82]:
copy_fi.rename(columns={"updated_District": "State", "updated_CITY": "City","year":"Year","month":"Month"},inplace=True)

In [83]:
copy_fi.head(2)

,Cust Type,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,City,State,Year,Month
0,Retail,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53.000000000,thane,maharashtra,2014,12
1,Retail,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14.000000000,thane,maharashtra,2015,1

In [84]:
copy_fi.isnull().sum()

Cust Type                  0
Insurance Company     454854
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
City                       0
State                      0
Year                       0
Month                      0
dtype: int64

In [ ]:
q[q["Plant Name1"] == "THANE"]

In [ ]:
q = copy_fi.loc[(copy_fi["updated_CITY"].isnull())]

In [ ]:
list(q["Plant Name1"].value_counts().keys())

In [ ]:
list(q["Plant Name1"].value_counts())

In [ ]:
e = copy_fi.loc[(copy_fi["updated_CITY"].notnull())]

In [ ]:
r = e[e["Plant Name1"] == "X052 - XPRESS MOTORS"]

In [ ]:
r["updated_CITY"].value_counts()

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
list(copy_fi["Plant Name1"].value_counts().keys())

In [ ]:
copy_fi["Insurance Company"].isnull().sum()

In [ ]:
copy_fi.drop(columns=["Insurance Company"],inplace=True)

In [ ]:
copy_fi['Model'] = copy_fi['Model'].fillna(copy_fi['Model'].mode()[0])

In [ ]:
import seaborn as sns

In [ ]:
copy_fi.columns

In [ ]:
MH_dist = copy_fi[(copy_fi["District"] == "Maharashtra")]

In [ ]:
MH_dist.head(2)

### Number of plants in Maharashtra

In [ ]:
import plotly.graph_objs as go

In [ ]:
px.histogram(MH_dist, x='Plant Name1').update_xaxes(categoryorder = "total descending")

### frequency of car models sold in maharashtra.

In [ ]:
px.histogram(MH_dist, x='Model').update_xaxes(categoryorder = "total descending")

### Frequency of usage of order types by customers as per plant in maharashtra

In [ ]:
px.histogram(MH_dist, x='Order Type').update_xaxes(categoryorder = "total descending")

### Frequency of cars sold by each makers in maharashtra

### Maruti suzuki

In [ ]:
Maruti_suzuki_MH = MH_dist[MH_dist["Make"] == "MARUTI SUZUKI"]

In [ ]:
px.histogram(Maruti_suzuki_MH, x='Model').update_xaxes(categoryorder = "total descending")

### Mahindra & Mahindra

In [ ]:
mahindra_MH = MH_dist[MH_dist["Make"] == "MAHINDRA &  MAHINDRA"]

In [ ]:
px.histogram(mahindra_MH, x='Model').update_xaxes(categoryorder = "total descending")

### HYUNDAI

In [ ]:
HYUNDAI_MH = MH_dist[MH_dist["Make"] == "HYUNDAI"]

In [ ]:
px.histogram(HYUNDAI_MH, x='Model').update_xaxes(categoryorder = "total descending")

### TATA MOTORS

In [ ]:
TATA_MOTORS_MH = MH_dist[MH_dist["Make"] == "TATA MOTORS"]

In [ ]:
px.histogram(TATA_MOTORS_MH, x='Model',y="").update_xaxes(categoryorder = "total descending")

### GENERAL MOTORS

In [ ]:
GENERAL_MOTORS_MH = MH_dist[MH_dist["Make"] == "GENERAL MOTORS"]

In [ ]:
px.histogram(GENERAL_MOTORS_MH, x='Model').update_xaxes(categoryorder = "total descending")

In [ ]:
len(list(copy_fi["Area / Locality"].value_counts().keys()))

In [ ]:
copy_fi["CITY"] = copy_fi["CITY"].str.lower()

In [ ]:
list(copy_fi["CITY"].value_counts().keys())

In [ ]:
MH_dist["Area / Locality"] = MH_dist["Area / Locality"].str.lower()

In [ ]:
list(MH_dist["Area / Locality"].value_counts().keys())

In [ ]:
copy_fi["Area / Locality"] = copy_fi["Area / Locality"].str.lower()

In [ ]:
list(copy_fi["Area / Locality"].value_counts().keys())

### X211 -  M/S KAMAL MOTORS

In [ ]:
X211_KAMAL_MOTORS = copy_fi[copy_fi["Plant Name1"] == "X211 -  M/S KAMAL MOTORS"]

In [ ]:
copy_fi["District"].value_counts()

In [ ]:
list(copy_fi["Plant Name1"].value_counts().keys())

In [ ]:
copy_fi["Model"].value_counts()

In [ ]:
copy_fi["Order Type"].value_counts()

In [ ]:
pd.pivot_table(copy_fi,index="Order Type",columns="Plant Name1")

In [ ]:
Running_repairs = copy_fi[copy_fi["Order Type"] == 'Running Repairs']

In [ ]:
Running_repairs["Total Value"].describe()

In [ ]:
fig = px.histogram(copy_fi, x="Total Value",nbins=100)
# fig.update_xaxes(range=[0,300000])
fig.show()

In [ ]:
pd.pivot_table(copy_fi,index="Plant Name1",columns="Order Type",values="Total Value")

### Histogram of the total value feature as we can see it is right skewed as some of the cars are overpriced in our dataset as compared to most of the cars.

In [ ]:
fig = px.histogram(Data_Finalinvoice, x="Total Value",nbins=100)
fig.update_xaxes(range=[0,300000])
fig.show()

In [ ]:
df =

In [ ]:
fig = px.histogram(Data_Finalinvoice, x="Total Value",color="Make",nbins=100)
fig.show()

In [ ]:
Data_Finalinvoice["Total Value"].isnull().sum()