In [5]:
import pandas as pd
import numpy as np

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
import pgeocode
nomi = pgeocode.Nominatim('IN')
import warnings
warnings.simplefilter('ignore')

In [8]:
Data_plantmaster = pd.read_excel("Plant Master.xlsx")
Data_JTD = pd.read_csv("JTD.csv",low_memory = False)
Data_Customer = pd.read_excel("Customer_Data.xlsx")
Data_Finalinvoice = pd.read_csv("Final_invoice.csv",low_memory = False)

In [9]:
Data_Customer.shape

(555338, 9)

In [10]:
Data_Customer.head(2)

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaT
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaT

In [11]:
Data_Customer.drop(columns=["Date of Birth","Death date","Marital Status"],inplace=True)

In [12]:
Data_Customer.shape

(555338, 6)

In [13]:
Data_Customer.columns

Index(['Business Partner', 'Customer No.', 'Partner Type', 'Data Origin',
       'Title', 'Occupation'],
      dtype='object')

In [14]:
Data_plantmaster.shape

(438, 13)

In [15]:
Data_plantmaster.head(4)

,Plant,Name 1,Valuation Area,Customer no. - plant,Vendor number plant,Factory calendar,Name 2,House number and street,PO Box,Postal Code,City,Sales organization,State
0,BC07,NERKUNDRAM,BC07,PLBC07,PLBC07,IN,NaN,"No.117 Poonamallee High Road,",600107.0,600107,Chennai,MFCS,Tamil Nadu
1,BC30,SAS NAGAR - MOHALI,BC30,PLBC30,PLBC30,IN,NaN,"C-118, Phase 07,",160055.0,160055,Mohali,MFCS,Punjab
2,X001,X001 - AUTO PLANET WHEELS,X001,PLX001,NaN,IN,Thane,"Unit No.3, Kothari Compound,",400610.0,400610,Thane,MFCA,Maharashtra
3,X002,X002 - BHANDARI INDUSTRIES PVT,X002,PLX002,NaN,IN,Ghaziabad,"18/1, C Site 4, Sahibabad",201010.0,201010,Ghaziabad,MFCA,Uttar Pradesh

In [16]:
Data_plantmaster.drop(columns=["Factory calendar","Customer no. - plant","Valuation Area","Vendor number plant","PO Box","Name 2","Postal Code"],inplace=True)

In [17]:
Data_plantmaster.shape

(438, 6)

In [18]:
Data_plantmaster.head()

,Plant,Name 1,House number and street,City,Sales organization,State
0,BC07,NERKUNDRAM,"No.117 Poonamallee High Road,",Chennai,MFCS,Tamil Nadu
1,BC30,SAS NAGAR - MOHALI,"C-118, Phase 07,",Mohali,MFCS,Punjab
2,X001,X001 - AUTO PLANET WHEELS,"Unit No.3, Kothari Compound,",Thane,MFCA,Maharashtra
3,X002,X002 - BHANDARI INDUSTRIES PVT,"18/1, C Site 4, Sahibabad",Ghaziabad,MFCA,Uttar Pradesh
4,X003,X003 - Om Sri Satya Sai Automo,"#75, Sy.No. 83/2, Panathur Mai",Bengaluru,MFCB,Karnataka

In [19]:
Data_plantmaster["Sales organization"].value_counts()

MFCD    339
MFCC     55
MFCB     25
MFCA     12
MFCS      2
Name: Sales organization, dtype: int64

In [20]:
Data_JTD.shape

(5619484, 10)

In [21]:
Data_JTD.head(2)

,Unnamed: 0,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,0,22385,180,OSLCC_SRV31,NaN,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,1,23910,10,1DM279018170117,NaN,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13

In [22]:
Data_JTD["Description"].unique()

array(['MACHINING RR.SUSPENSION CHARGE  (MAJOR)',
       'ASSY.OIL COOLER (6-PLATE) (VOR', 'FRONT WHEEL BEARING/ LUBRICATE',
       ..., 'ABS SENSOR SCALA', 'SUSPENTION BUSH KIT SCALA',
       'JUMPING ROD ASSY SCALA'], dtype=object)

In [23]:
Data_JTD['Labor Value Number'].value_counts()

ACCDBP0145    18954
MSSWPS0004    14872
MSALPS0007    14581
MSALWH0013    14190
MSSWPS0007    13901
              ...
HYGEEL0033        1
TMMGWH0003        1
MMBPEN0028        1
MSETEL0095        1
MSGVEL0077        1
Name: Labor Value Number, Length: 41176, dtype: int64

In [24]:
Data_JTD.columns

Index(['Unnamed: 0', 'DBM Order', 'Order Item', 'Material',
       'Labor Value Number', 'Description', 'Item Category', 'Order Quantity',
       'Target quantity UoM', 'Net value'],
      dtype='object')

In [25]:
Data_JTD.drop(columns=["Unnamed: 0","Material","Labor Value Number","Order Item"],inplace=True)

In [26]:
Data_JTD.head(2)

,DBM Order,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,22385,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,23910,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13

In [27]:
Data_JTD.shape

(5619484, 6)

In [28]:
Data_Finalinvoice.shape

(492314, 59)

In [29]:
Data_Finalinvoice.head(5)

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,Claim No.,Cust Type,Customer No.,District,Expiry Date,Gate Pass Date,Gate Pass Time,IGST(12%),IGST(18%),IGST(28%),IGST(5%),Insurance Company,Invoice Date,Invoice No,Invoice Time,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,ODN No.,OSL Total,Order Type,Outstanding Amt,Parts Total,Pin code,Plant,Plant Name1,Policy no.,Print Status,Recovrbl Exp,Regn No,SGST/UGST(14%),SGST/UGST(2.5%),SGST/UGST(6%),SGST/UGST(9%),Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,NaN,Retail,67849,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-02,7005200002,11:30:36,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,7.005200e+09,500.06,Paid Service,0.0,2348.75,400601,BC01,THANE,NaN,NO,0.0,KA19MA1291,0.0,0.0,0.0,0.0,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,NaN,Retail,84419,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200003,10:07:32,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,7.005200e+09,0.00,SMC Value Package,0.0,0.00,400603,BC01,THANE,NaN,NO,0.0,MH43R3046,0.0,0.0,0.0,0.0,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,NaN,Retail,81055,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200004,11:12:57,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,7.005200e+09,0.00,Running Repairs,0.0,52.95,400607,BC01,THANE,NaN,NO,0.0,AP09AX0582,0.0,0.0,0.0,0.0,NaN,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,NaN,Retail,84419,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200005,11:40:44,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,7.005200e+09,0.00,SMC Redemption,0.0,0.00,400603,BC01,THANE,NaN,NO,0.0,MH43R3046,0.0,0.0,0.0,0.0,NaN,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,NaN,Retail,18980,Maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200006,12:07:17,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,7.005200e+09,499.99,Paid Service,0.0,944.16,400603,BC01,THANE,NaN,NO,0.0,MH04CD9768,0.0,0.0,0.0,0.0,NaN,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [30]:
Data_Finalinvoice.columns

Index(['Unnamed: 0', 'Amt Rcvd From Custom', 'Amt Rcvd From Ins Co',
       'Area / Locality', 'CGST(14%)', 'CGST(2.5%)', 'CGST(6%)', 'CGST(9%)',
       'CITY', 'Cash /Cashless Type', 'Claim No.', 'Cust Type', 'Customer No.',
       'District', 'Expiry Date', 'Gate Pass Date', 'Gate Pass Time',
       'IGST(12%)', 'IGST(18%)', 'IGST(28%)', 'IGST(5%)', 'Insurance Company',
       'Invoice Date', 'Invoice No', 'Invoice Time', 'Job Card No',
       'JobCard Date', 'JobCard Time', 'KMs Reading', 'Labour Total', 'Make',
       'Misc Total', 'Model', 'ODN No.', 'OSL Total', 'Order Type',
       'Outstanding Amt', 'Parts Total', 'Pin code', 'Plant', 'Plant Name1',
       'Policy no.', 'Print Status', 'Recovrbl Exp', 'Regn No',
       'SGST/UGST(14%)', 'SGST/UGST(2.5%)', 'SGST/UGST(6%)', 'SGST/UGST(9%)',
       'Service Advisor Name', 'TDS amount', 'Technician Name',
       'Total Amt Wtd Tax.', 'Total CGST', 'Total GST', 'Total IGST',
       'Total SGST/UGST', 'Total Value', 'User ID'],
      dtype='object')

In [31]:
Data_Finalinvoice.isnull().sum()

Unnamed: 0                   0
Amt Rcvd From Custom    197286
Amt Rcvd From Ins Co    197286
Area / Locality          23890
CGST(14%)               197286
CGST(2.5%)              197286
CGST(6%)                197286
CGST(9%)                197286
CITY                         1
Cash /Cashless Type     464894
Claim No.               487510
Cust Type                    0
Customer No.                 0
District                     0
Expiry Date             470083
Gate Pass Date          451399
Gate Pass Time               0
IGST(12%)               197286
IGST(18%)               197286
IGST(28%)               197286
IGST(5%)                197286
Insurance Company       468723
Invoice Date                 0
Invoice No                   0
Invoice Time                 0
Job Card No                  0
JobCard Date                 0
JobCard Time                 0
KMs Reading                  0
Labour Total                 0
Make                         0
Misc Total                   0
Model                     1525
ODN No.                 197286
OSL Total                    0
Order Type                   0
Outstanding Amt         197286
Parts Total                  0
Pin code                     0
Plant                        0
Plant Name1                  0
Policy no.              475432
Print Status                 0
Recovrbl Exp                 0
Regn No                     16
SGST/UGST(14%)          197286
SGST/UGST(2.5%)         197286
SGST/UGST(6%)           197286
SGST/UGST(9%)           197286
Service Advisor Name    492314
TDS amount              197286
Technician Name         236834
Total Amt Wtd Tax.           0
Total CGST              197286
Total GST               197286
Total IGST              197286
Total SGST/UGST         197286
Total Value             197286
User ID                      0
dtype: int64

### Deriving total service time from invoice date time & job card date time

In [32]:
Data_Finalinvoice["Invoice_DateTime"]=Data_Finalinvoice["Invoice Date"]+' '+Data_Finalinvoice["Invoice Time"]
Data_Finalinvoice["JobCard_DateTime"]=Data_Finalinvoice["JobCard Date"]+' '+Data_Finalinvoice["JobCard Time"]
Data_Finalinvoice['JobCard_DateTime'] = pd.to_datetime(Data_Finalinvoice['JobCard_DateTime'],dayfirst=True)
Data_Finalinvoice['Invoice_DateTime'] = pd.to_datetime(Data_Finalinvoice['Invoice_DateTime'],dayfirst=True)
Data_Finalinvoice["Service_Time"]=Data_Finalinvoice["Invoice_DateTime"]-Data_Finalinvoice["JobCard_DateTime"]

In [33]:
Data_Finalinvoice.columns

Index(['Unnamed: 0', 'Amt Rcvd From Custom', 'Amt Rcvd From Ins Co',
       'Area / Locality', 'CGST(14%)', 'CGST(2.5%)', 'CGST(6%)', 'CGST(9%)',
       'CITY', 'Cash /Cashless Type', 'Claim No.', 'Cust Type', 'Customer No.',
       'District', 'Expiry Date', 'Gate Pass Date', 'Gate Pass Time',
       'IGST(12%)', 'IGST(18%)', 'IGST(28%)', 'IGST(5%)', 'Insurance Company',
       'Invoice Date', 'Invoice No', 'Invoice Time', 'Job Card No',
       'JobCard Date', 'JobCard Time', 'KMs Reading', 'Labour Total', 'Make',
       'Misc Total', 'Model', 'ODN No.', 'OSL Total', 'Order Type',
       'Outstanding Amt', 'Parts Total', 'Pin code', 'Plant', 'Plant Name1',
       'Policy no.', 'Print Status', 'Recovrbl Exp', 'Regn No',
       'SGST/UGST(14%)', 'SGST/UGST(2.5%)', 'SGST/UGST(6%)', 'SGST/UGST(9%)',
       'Service Advisor Name', 'TDS amount', 'Technician Name',
       'Total Amt Wtd Tax.', 'Total CGST', 'Total GST', 'Total IGST',
       'Total SGST/UGST', 'Total Value', 'User ID', 'Invoice_DateTime',
       'JobCard_DateTime', 'Service_Time'],
      dtype='object')

In [34]:
Data_Finalinvoice.isnull().sum()

Unnamed: 0                   0
Amt Rcvd From Custom    197286
Amt Rcvd From Ins Co    197286
Area / Locality          23890
CGST(14%)               197286
                         ...
Total Value             197286
User ID                      0
Invoice_DateTime             0
JobCard_DateTime             0
Service_Time                 0
Length: 62, dtype: int64

In [35]:
Data_Finalinvoice["updated_CITY"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).county_name
Data_Finalinvoice["updated_District"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).state_name
Data_Finalinvoice["updated_Location_Area"]=nomi.query_postal_code(np.array(Data_Finalinvoice["Pin code"].astype(str))).place_name

In [36]:
Data_Finalinvoice["CITY"] = Data_Finalinvoice["CITY"].str.lower()
Data_Finalinvoice["updated_CITY"] = Data_Finalinvoice["updated_CITY"].str.lower()

In [37]:
Data_Finalinvoice["District"] = Data_Finalinvoice["District"].str.lower()
Data_Finalinvoice["updated_District"] = Data_Finalinvoice["updated_District"].str.lower()

In [38]:
Data_Finalinvoice.head(2)

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,Claim No.,Cust Type,Customer No.,District,Expiry Date,Gate Pass Date,Gate Pass Time,IGST(12%),IGST(18%),IGST(28%),IGST(5%),Insurance Company,Invoice Date,Invoice No,Invoice Time,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,ODN No.,OSL Total,Order Type,Outstanding Amt,Parts Total,Pin code,Plant,Plant Name1,Policy no.,Print Status,Recovrbl Exp,Regn No,SGST/UGST(14%),SGST/UGST(2.5%),SGST/UGST(6%),SGST/UGST(9%),Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District,updated_Location_Area
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,thane,NaN,NaN,Retail,67849,maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-02,7005200002,11:30:36,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,7.005200e+09,500.06,Paid Service,0.0,2348.75,400601,BC01,THANE,NaN,NO,0.0,KA19MA1291,0.0,0.0,0.0,0.0,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra,"Thane Bazar, Thane H.O, Thane R.S."
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,thnae,NaN,NaN,Retail,84419,maharashtra,NaN,NaN,00:00:00,0.0,0.0,0.0,0.0,NaN,2015-01-03,7005200003,10:07:32,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,7.005200e+09,0.00,SMC Value Package,0.0,0.00,400603,BC01,THANE,NaN,NO,0.0,MH43R3046,0.0,0.0,0.0,0.0,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra,"Thane East, Kopri Colony"

### nan value impute updated city

In [39]:
o = Data_Finalinvoice[Data_Finalinvoice["updated_CITY"].isnull()]

In [40]:
l = Data_Finalinvoice[Data_Finalinvoice["updated_CITY"].notnull()]

In [41]:
x = list(o["CITY"].value_counts().keys())

In [42]:
z = list(l["updated_CITY"].value_counts().keys())

In [43]:
def common_mem(a, b):
    a_set = set(a)
    b_set = set(b)
  
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

In [44]:
common_mem(x,z )

{'sikar', 'udaipur', 'bokaro', 'satara', 'hamirpur', 'erode', 'idukki', 'jhajjar', 'gondia', 'washim', 'mysuru', 'kanchipuram', 'surat', 'nellore', 'wayanad', 'cuddalore', 'sitamarhi', 'sonbhadra', 'vidisha', 'ramgarh', 'betul', 'jabalpur', 'kodagu', 'farrukhabad', 'thane', 'guntur', 'lucknow', 'kasargod', 'ambala', 'pali', 'dahod', 'koppal', 'rewari', 'gurdaspur', 'hathras', 'sidhi', 'ariyalur', 'firozpur', 'bareilly', 'nizamabad', 'bidar', 'tiruvarur', 'sundergarh', 'nandurbar', 'neemuch', 'thanjavur', 'korba', 'rampur', 'amritsar', 'kota', 'hingoli', 'medak', 'tuticorin', 'cuttack', 'sangrur', 'solan', 'firozabad', 'mainpuri', 'karnal', 'jind', 'adilabad', 'palakkad', 'mau', 'dholpur', 'ranchi', 'gwalior', 'bharuch', 'jalandhar', 'panchkula', 'ujjain', 'karur', 'dausa', 'mansa', 'prakasam', 'kapurthala', 'pune', 'yamuna nagar', 'sawai madhopur', 'meerut', 'karaikal', 'faridkot', 'theni', 'panna', 'rohtak', 'sangli', 'dehradun', 'barnala', 'ramanathapuram', 'kaithal', 'salem', 'pondicherry', 'lakhisarai', 'bhagalpur', 'bijnor', 'bhilwara', 'nashik', 'jalgaon', 'jamui', 'kamrup', 'jammu', 'krishnagiri', 'madurai', 'samastipur', 'muktsar', 'ratlam', 'kullu', 'jalaun', 'bagalkot', 'latur', 'vijayapura', 'kolkata', 'pudukkottai', 'dewas', 'bhadrak', 'chittorgarh', 'jalpaiguri', 'muzaffarpur', 'umaria', 'jaipur', 'solapur', 'patna', 'beed', 'dharwad', 'dhule', 'hyderabad', 'anand', 'hoshiarpur', 'bhopal', 'una', 'munger', 'gadchiroli', 'etah', 'purnia', 'chittoor', 'gaya', 'sonipat', 'mathura', 'mahesana', 'churu', 'osmanabad', 'allahabad', 'patan', 'faridabad', 'jaunpur', 'ahmedabad', 'jharsuguda', 'nalgonda', 'shimla', 'chitradurga', 'kanyakumari', 'nanded', 'ratnagiri', 'buldhana', 'chandrapur', 'hisar', 'fatehgarh sahib', 'navsari', 'akola', 'ludhiana', 'nagapattinam', 'puri', 'nagpur', 'warangal', 'khammam', 'davangere', 'kalaburagi', 'chikkamagaluru', 'pathanamthitta', 'kurukshetra', 'gurgaon', 'sirsa', 'begusarai', 'rajkot', 'kottayam', 'new delhi', 'mohali', 'krishna', 'dhenkanal', 'chennai', 'thrissur', 'perambalur', 'pauri garhwal', 'bhandara', 'kangra', 'raigarh', 'ghazipur', 'hassan', 'patiala', 'ajmer', 'kannur', 'villupuram', 'fatehabad', 'ropar', 'sheohar', 'jalna', 'tikamgarh', 'aligarh', 'bengaluru', 'indore', 'daman', 'kurnool', 'kolar', 'mandya', 'dharmapuri', 'bulandshahr', 'rajgarh', 'chandigarh', 'alappuzha', 'mandi', 'amravati', 'malappuram', 'dhanbad', 'chhindwara', 'mirzapur', 'namakkal', 'jhabua', 'gorakhpur', 'mumbai', 'agra', 'barmer', 'valsad', 'vellore', 'jodhpur', 'balaghat', 'rupnagar', 'moradabad', 'wardha', 'dindigul', 'haridwar', 'panipat', 'coimbatore', 'moga', 'virudhunagar', 'chandauli', 'jhansi', 'parbhani', 'seoni', 'raichur', 'nainital', 'karauli', 'ernakulam', 'mahendragarh', 'kollam', 'darbhanga', 'bathinda', 'kolhapur', 'vadodara', 'tirunelveli', 'kozhikode', 'raipur', 'aurangabad', 'ganganagar', 'ghaziabad', 'varanasi', 'bhiwani', 'udupi'}

In [45]:
xz = ['jharsuguda', 'nalgonda', 'ujjain', 'hassan', 'bhilwara', 'rajgarh', 'amravati', 'madurai', 'karur', 'jaipur', 'chittoor', 'villupuram', 'thrissur', 'hingoli', 'hamirpur', 'ajmer', 'patiala', 'varanasi', 'kurnool', 'jhansi', 'vijayapura', 'rupnagar', 'hyderabad', 'jammu', 'ernakulam', 'sheohar', 'nainital', 'kamrup', 'purnia', 'haridwar', 'warangal', 'koppal', 'vellore', 'sangrur', 'umaria', 'jalna', 'sidhi', 'nizamabad', 'una', 'samastipur', 'dindigul', 'kurukshetra', 'sirsa', 'ariyalur', 'vadodara', 'kota', 'churu', 'mohali', 'sangli', 'pondicherry', 'ranchi', 'gaya', 'jalpaiguri', 'kanchipuram', 'perambalur', 'kaithal', 'hoshiarpur', 'udaipur', 'jhajjar', 'prakasam', 'jalaun', 'jamui', 'meerut', 'etah', 'panchkula', 'kullu', 'ahmedabad', 'solan', 'aligarh', 'idukki', 'darbhanga', 'jalgaon', 'kolkata', 'dausa', 'cuddalore', 'bagalkot', 'ambala', 'mathura', 'raigarh', 'dhule', 'jalandhar', 'gadchiroli', 'bhadrak', 'pauri garhwal', 'ghaziabad', 'bidar', 'mysuru', 'nashik', 'mirzapur', 'ghazipur', 'seoni', 'raichur', 'dehradun', 'nagpur', 'mau', 'mumbai', 'coimbatore', 'bhiwani', 'nagapattinam', 'dahod', 'chandrapur', 'dhenkanal', 'tikamgarh', 'hisar', 'gwalior', 'dharwad', 'bathinda', 'panipat', 'nandurbar', 'anand', 'gorakhpur', 'khammam', 'satara', 'valsad', 'muktsar', 'begusarai', 'kozhikode', 'alappuzha', 'new delhi', 'pali', 'dhanbad', 'gurgaon', 'bharuch', 'tuticorin', 'navsari', 'chhindwara', 'chikkamagaluru', 'kolar', 'daman', 'muzaffarpur', 'buldhana', 'fatehabad', 'yamuna nagar', 'bhagalpur', 'davangere', 'malappuram', 'mahendragarh', 'mandi', 'medak', 'kanyakumari', 'wayanad', 'kodagu', 'pathanamthitta', 'mahesana', 'sonipat', 'theni', 'namakkal', 'ludhiana', 'sawai madhopur', 'barnala', 'patna', 'bengaluru', 'jind', 'farrukhabad', 'chennai', 'surat', 'patan', 'amritsar', 'ropar', 'nanded', 'sonbhadra', 'krishna', 'jaunpur', 'thane', 'chandigarh', 'gurdaspur', 'thanjavur', 'moga', 'sikar', 'ratnagiri', 'akola', 'virudhunagar', 'chitradurga', 'hathras', 'vidisha', 'kalaburagi', 'kasargod', 'fatehgarh sahib', 'betul', 'firozabad', 'latur', 'erode', 'adilabad', 'salem', 'rohtak', 'neemuch', 'udupi', 'solapur', 'mandya', 'parbhani', 'bulandshahr', 'bareilly', 'tiruvarur', 'kangra', 'kapurthala', 'krishnagiri', 'jabalpur', 'indore', 'munger', 'balaghat', 'rampur', 'dharmapuri', 'mainpuri', 'pune', 'ramgarh', 'kottayam', 'dholpur', 'cuttack', 'shimla', 'puri', 'bijnor', 'barmer', 'jhabua', 'guntur', 'lucknow', 'karauli', 'faridkot', 'aurangabad', 'sundergarh', 'agra', 'chittorgarh', 'jodhpur', 'ganganagar', 'rewari', 'beed', 'sitamarhi', 'washim', 'tirunelveli', 'gondia', 'mansa', 'faridabad', 'allahabad', 'pudukkottai', 'palakkad', 'osmanabad', 'bokaro', 'chandauli', 'dewas', 'ratlam', 'lakhisarai', 'raipur', 'nellore', 'moradabad', 'kolhapur', 'firozpur', 'karaikal', 'kannur', 'rajkot', 'karnal', 'wardha', 'kollam', 'panna', 'bhandara', 'bhopal', 'ramanathapuram', 'korba']

In [46]:
d = []
for i in xz:
    j = o[o["CITY"] == i]
    d.append(i)

In [47]:
for i in d:
    a = o[o.CITY==i].index
    print(i)
    for j in a:
        o.updated_CITY.loc[j] = i

jharsuguda
nalgonda
ujjain
hassan
bhilwara
rajgarh
amravati
madurai
karur
jaipur
chittoor
villupuram
thrissur
hingoli
hamirpur
ajmer
patiala
varanasi
kurnool
jhansi
vijayapura
rupnagar
hyderabad
jammu
ernakulam
sheohar
nainital
kamrup
purnia
haridwar
warangal
koppal
vellore
sangrur
umaria
jalna
sidhi
nizamabad
una
samastipur
dindigul
kurukshetra
sirsa
ariyalur
vadodara
kota
churu
mohali
sangli
pondicherry
ranchi
gaya
jalpaiguri
kanchipuram
perambalur
kaithal
hoshiarpur
udaipur
jhajjar
prakasam
jalaun
jamui
meerut
etah
panchkula
kullu
ahmedabad
solan
aligarh
idukki
darbhanga
jalgaon
kolkata
dausa
cuddalore
bagalkot
ambala
mathura
raigarh
dhule
jalandhar
gadchiroli
bhadrak
pauri garhwal
ghaziabad
bidar
mysuru
nashik
mirzapur
ghazipur
seoni
raichur
dehradun
nagpur
mau
mumbai
coimbatore
bhiwani
nagapattinam
dahod
chandrapur
dhenkanal
tikamgarh
hisar
gwalior
dharwad
bathinda
panipat
nandurbar
anand
gorakhpur
khammam
satara
valsad
muktsar
begusarai
kozhikode
alappuzha
new delhi
pali
dhanbad
gurgaon
bharuch
tuticorin
navsari
chhindwara
chikkamagaluru
kolar
daman
muzaffarpur
buldhana
fatehabad
yamuna nagar
bhagalpur
davangere
malappuram
mahendragarh
mandi
medak
kanyakumari
wayanad
kodagu
pathanamthitta
mahesana
sonipat
theni
namakkal
ludhiana
sawai madhopur
barnala
patna
bengaluru
jind
farrukhabad
chennai
surat
patan
amritsar
ropar
nanded
sonbhadra
krishna
jaunpur
thane
chandigarh
gurdaspur
thanjavur
moga
sikar
ratnagiri
akola
virudhunagar
chitradurga
hathras
vidisha
kalaburagi
kasargod
fatehgarh sahib
betul
firozabad
latur
erode
adilabad
salem
rohtak
neemuch
udupi
solapur
mandya
parbhani
bulandshahr
bareilly
tiruvarur
kangra
kapurthala
krishnagiri
jabalpur
indore
munger
balaghat
rampur
dharmapuri
mainpuri
pune
ramgarh
kottayam
dholpur
cuttack
shimla
puri
bijnor
barmer
jhabua
guntur
lucknow
karauli
faridkot
aurangabad
sundergarh
agra
chittorgarh
jodhpur
ganganagar
rewari
beed
sitamarhi
washim
tirunelveli
gondia
mansa
faridabad
allahabad
pudukkottai
palakkad
osmanabad
bokaro
chandauli
dewas
ratlam
lakhisarai
raipur
nellore
moradabad
kolhapur
firozpur
karaikal
kannur
rajkot
karnal
wardha
kollam
panna
bhandara
bhopal
ramanathapuram
korba

In [48]:
Data_Finalinvoice.columns

Index(['Unnamed: 0', 'Amt Rcvd From Custom', 'Amt Rcvd From Ins Co',
       'Area / Locality', 'CGST(14%)', 'CGST(2.5%)', 'CGST(6%)', 'CGST(9%)',
       'CITY', 'Cash /Cashless Type', 'Claim No.', 'Cust Type', 'Customer No.',
       'District', 'Expiry Date', 'Gate Pass Date', 'Gate Pass Time',
       'IGST(12%)', 'IGST(18%)', 'IGST(28%)', 'IGST(5%)', 'Insurance Company',
       'Invoice Date', 'Invoice No', 'Invoice Time', 'Job Card No',
       'JobCard Date', 'JobCard Time', 'KMs Reading', 'Labour Total', 'Make',
       'Misc Total', 'Model', 'ODN No.', 'OSL Total', 'Order Type',
       'Outstanding Amt', 'Parts Total', 'Pin code', 'Plant', 'Plant Name1',
       'Policy no.', 'Print Status', 'Recovrbl Exp', 'Regn No',
       'SGST/UGST(14%)', 'SGST/UGST(2.5%)', 'SGST/UGST(6%)', 'SGST/UGST(9%)',
       'Service Advisor Name', 'TDS amount', 'Technician Name',
       'Total Amt Wtd Tax.', 'Total CGST', 'Total GST', 'Total IGST',
       'Total SGST/UGST', 'Total Value', 'User ID', 'Invoice_DateTime',
       'JobCard_DateTime', 'Service_Time', 'updated_CITY', 'updated_District',
       'updated_Location_Area'],
      dtype='object')

### impute nan value for updated district

In [49]:
g = list(o["District"].value_counts().keys())

In [50]:
h = list(l["updated_District"].value_counts().keys())

In [51]:
def common_mem(a, b):
    a_set = set(a)
    b_set = set(b)
  
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

In [52]:
common_mem(g,h)

{'rajasthan', 'telangana', 'delhi', 'andhra pradesh', 'odisha', 'bihar', 'chandigarh', 'west bengal', 'gujarat', 'haryana', 'karnataka', 'arunachal pradesh', 'kerala', 'madhya pradesh', 'tamil nadu', 'goa', 'maharashtra', 'punjab', 'uttar pradesh', 'assam', 'jharkhand', 'uttarakhand', 'himachal pradesh', 'lakshadweep'}

In [53]:
gh = ['rajasthan', 'maharashtra', 'tamil nadu', 'madhya pradesh', 'assam', 'kerala', 'west bengal', 'odisha', 'gujarat', 'arunachal pradesh', 'chandigarh', 'karnataka', 'jharkhand', 'bihar', 'uttarakhand', 'punjab', 'delhi', 'andhra pradesh', 'telangana', 'uttar pradesh', 'goa', 'himachal pradesh', 'haryana', 'lakshadweep']

In [54]:
s = []
for i in gh:
    j = o[o["District"] == i]
    s.append(i)

In [55]:
for i in s:
    a = o[o.District==i].index
    print(i)
    for j in a:
        o.updated_District.loc[j] = i

rajasthan
maharashtra
tamil nadu
madhya pradesh
assam
kerala
west bengal
odisha
gujarat
arunachal pradesh
chandigarh
karnataka
jharkhand
bihar
uttarakhand
punjab
delhi
andhra pradesh
telangana
uttar pradesh
goa
himachal pradesh
haryana
lakshadweep

In [56]:
o.shape

(47246, 65)

In [57]:
o.isnull().sum()

Unnamed: 0                   0
Amt Rcvd From Custom     15610
Amt Rcvd From Ins Co     15610
Area / Locality           5941
CGST(14%)                15610
                         ...
JobCard_DateTime             0
Service_Time                 0
updated_CITY             20287
updated_District           171
updated_Location_Area    47246
Length: 65, dtype: int64

In [58]:
Data_Finalinvoice.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [59]:
o.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [60]:
o['Model'] = o['Model'].fillna(o['Model'].mode()[0])

In [61]:
o["Total Value"].fillna((o["Total Value"].median()), inplace=True)

In [62]:
o['Technician Name'] = o['Technician Name'].fillna(o['Technician Name'].mode()[0])

In [63]:
o.notnull().sum()

Cust Type             47246
Customer No.          47246
Insurance Company      2274
Invoice Date          47246
Job Card No           47246
JobCard Date          47246
JobCard Time          47246
KMs Reading           47246
Labour Total          47246
Make                  47246
Misc Total            47246
Model                 47246
OSL Total             47246
Order Type            47246
Parts Total           47246
Pin code              47246
Plant                 47246
Plant Name1           47246
Print Status          47246
Recovrbl Exp          47246
Technician Name       47246
Total Amt Wtd Tax.    47246
Total Value           47246
User ID               47246
Invoice_DateTime      47246
JobCard_DateTime      47246
Service_Time          47246
updated_CITY          26959
updated_District      47075
dtype: int64

In [64]:
o.isnull().sum()

Cust Type                 0
Customer No.              0
Insurance Company     44972
Invoice Date              0
Job Card No               0
JobCard Date              0
JobCard Time              0
KMs Reading               0
Labour Total              0
Make                      0
Misc Total                0
Model                     0
OSL Total                 0
Order Type                0
Parts Total               0
Pin code                  0
Plant                     0
Plant Name1               0
Print Status              0
Recovrbl Exp              0
Technician Name           0
Total Amt Wtd Tax.        0
Total Value               0
User ID                   0
Invoice_DateTime          0
JobCard_DateTime          0
Service_Time              0
updated_CITY          20287
updated_District        171
dtype: int64

In [65]:
l.notnull().sum()

Unnamed: 0               445068
Amt Rcvd From Custom     263392
Amt Rcvd From Ins Co     263392
Area / Locality          427119
CGST(14%)                263392
                          ...
JobCard_DateTime         445068
Service_Time             445068
updated_CITY             445068
updated_District         445068
updated_Location_Area    445068
Length: 65, dtype: int64

In [66]:
l.drop(columns=["Unnamed: 0","Amt Rcvd From Custom","Amt Rcvd From Ins Co","CGST(14%)","CGST(2.5%)","CGST(6%)","CGST(9%)","Cash /Cashless Type","Claim No.","IGST(12%)","IGST(18%)","IGST(28%)","IGST(5%)","Expiry Date","Gate Pass Date","Gate Pass Time","SGST/UGST(14%)","SGST/UGST(2.5%)","SGST/UGST(6%)","SGST/UGST(9%)","Policy no.","Invoice Time","Invoice No","ODN No.","Outstanding Amt","Regn No","Service Advisor Name","TDS amount","Total IGST","Total GST","Total CGST","Total SGST/UGST","Area / Locality","CITY","District","updated_Location_Area"],inplace=True)

In [67]:
l['Model'] = l['Model'].fillna(l['Model'].mode()[0])

In [68]:
l.isnull().sum()

Cust Type                  0
Customer No.               0
Insurance Company     423751
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       216479
Total Amt Wtd Tax.         0
Total Value           181676
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY               0
updated_District           0
dtype: int64

### Cleaned o dataframe

In [69]:
o.shape

(47246, 29)

In [70]:
l.shape

(445068, 29)

In [71]:
frames = [l,o]

In [72]:
semi_cleaned_data =  pd.concat(frames)

In [73]:
semi_cleaned_data.to_csv('semi_cleaned_Finalinvoice.csv')

In [74]:
semi_cleaned_data.isnull().sum()

Cust Type                  0
Customer No.               0
Insurance Company     468723
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       216479
Total Amt Wtd Tax.         0
Total Value           181676
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20287
updated_District         171
dtype: int64

In [75]:
Semi_cleaned_data = pd.read_csv("semi_cleaned_Finalinvoice.csv")

In [76]:
copy_fi = Semi_cleaned_data.copy()

In [77]:
copy_fi.head(5)

,Unnamed: 0,Cust Type,Customer No.,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,67849,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra
1,1,Retail,84419,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra
2,2,Retail,81055,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13,thane,maharashtra
3,3,Retail,84419,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,0.00,0.00,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12,thane,maharashtra
4,4,Retail,18980,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35,thane,maharashtra

In [78]:
copy_fi.columns

Index(['Unnamed: 0', 'Cust Type', 'Customer No.', 'Insurance Company',
       'Invoice Date', 'Job Card No', 'JobCard Date', 'JobCard Time',
       'KMs Reading', 'Labour Total', 'Make', 'Misc Total', 'Model',
       'OSL Total', 'Order Type', 'Parts Total', 'Pin code', 'Plant',
       'Plant Name1', 'Print Status', 'Recovrbl Exp', 'Technician Name',
       'Total Amt Wtd Tax.', 'Total Value', 'User ID', 'Invoice_DateTime',
       'JobCard_DateTime', 'Service_Time', 'updated_CITY', 'updated_District'],
      dtype='object')

In [79]:
copy_fi["Order Type"].value_counts()

Running Repairs      269455
Paid Service         135004
Accidental            44159
SMC Redemption        15738
Mechanical            15100
SMC Value Package      9781
Repeat Order           3043
Workshop Damage          17
WBW Order                17
Name: Order Type, dtype: int64

In [80]:
copy_fi.shape

(492314, 30)

### Dropping rows where order type is the paid service and total value is still 0.

In [81]:
temp1 = copy_fi[(copy_fi["Order Type"] == "Paid Service") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [82]:
temp1

Int64Index([    25,    550,    635,    684,    725,    758,    814,    913,
              1040,   1119,
            ...
            474294, 474304, 474313, 474329, 474337, 474367, 474398, 474414,
            475937, 476467],
           dtype='int64', length=1938)

In [83]:
copy_fi.drop(temp1 , inplace=True)

In [84]:
copy_fi.shape

(490376, 30)

### Dropping rows where order type is Accidental , also where insurance is not been taken also total value is 0

In [85]:
temp2 = copy_fi[(copy_fi["Order Type"] == "Accidental") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [86]:
copy_fi.drop(temp2 , inplace=True)

In [87]:
copy_fi.shape

(490123, 30)

In [88]:
copy_fi.groupby(["Order Type"])["Total Value"].count()

Order Type
Accidental            29017
Mechanical             1266
Paid Service          83098
Repeat Order           2819
Running Repairs      169436
SMC Redemption        13847
SMC Value Package      8943
WBW Order                 4
Workshop Damage          17
Name: Total Value, dtype: int64

### Dropping rows where order type is Repeat Order , also where insurance is not been taken and where total value is still 0

In [89]:
temp3 = copy_fi[(copy_fi["Order Type"] == "Repeat Order") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [90]:
copy_fi.drop(temp3,inplace=True)

### Replacing 0 from total value where order type is SMC Redemption with the median where total value is non zero

In [91]:
copy_fi.loc[(copy_fi["Order Type"] == "SMC Redemption") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Value"]= 1644.7

### Replacing 0 from total value where order type is Running Repairs with the median where total value is non zero

In [92]:
copy_fi.loc[(copy_fi["Order Type"] == "Running Repairs") & (copy_fi["Total Value"] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Value"]= 1644.7

In [93]:
copy_fi["Order Type"].value_counts()

Running Repairs      269455
Paid Service         133066
Accidental            43906
SMC Redemption        15738
Mechanical            15100
SMC Value Package      9781
Repeat Order            247
Workshop Damage          17
WBW Order                17
Name: Order Type, dtype: int64

In [94]:
copy_fi.head(2)

,Unnamed: 0,Cust Type,Customer No.,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,67849,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra
1,1,Retail,84419,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra

In [95]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Customer No.               0
Insurance Company     463736
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       215802
Total Amt Wtd Tax.         0
Total Value           181676
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20071
updated_District         170
dtype: int64

### Dropping rows where Total Amt Wtd Tax is negative

In [96]:
negative_values = copy_fi[(copy_fi["Total Amt Wtd Tax."] < 0)].index

In [97]:
copy_fi.drop(negative_values , inplace=True)

In [98]:
copy_fi.shape

(487319, 30)

### 0 value imputation for Total Amt Wtd Tax

### Dropping rows where order type is the paid service and Total Amt Wtd Tax is still 0.

In [99]:
copy_fi.shape

(487319, 30)

In [100]:
temp4 = copy_fi[(copy_fi["Order Type"] == "Paid Service") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [101]:
copy_fi.drop(temp4 , inplace=True)

In [102]:
copy_fi.shape

(485484, 30)

### Dropping rows where order type is Accidental , also where insurance is not been taken also Total Amt Wtd Tax is 0

In [103]:
temp5 = copy_fi[(copy_fi["Order Type"] == "Accidental") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [104]:
copy_fi.drop(temp5 , inplace=True)

In [105]:
copy_fi.shape

(485262, 30)

### Dropping rows where order type is Repeat Order , also where insurance is not been taken and where Total Amt Wtd Tax is still 0

In [106]:
temp6 = copy_fi[(copy_fi["Order Type"] == "Repeat Order") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull())].index

In [107]:
copy_fi.drop(temp6,inplace=True)

### Replacing 0 from Total Amt Wtd Tax where order type is SMC Redemption with the median where Total Amt Wtd Tax is non zero

In [108]:
copy_fi.shape

(485044, 30)

In [109]:
copy_fi.loc[(copy_fi["Order Type"] == "SMC Redemption") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 1674.22433

### Replacing 0 from Total Amt Wtd Tax where order type is Running Repairs with the mean where Total Amt Wtd Tax is non zero

In [110]:
copy_fi.loc[(copy_fi["Order Type"] == "Running Repairs") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 2835.56

In [111]:
copy_fi.shape

(485044, 30)

### Replacing 0 from Total Amt Wtd Tax where order type is Mechanical with the mean where Total Amt Wtd Tax is non zero

In [112]:
d = copy_fi.loc[(copy_fi["Total Amt Wtd Tax."] != 0) & (copy_fi["Insurance Company"].isnull()) & (copy_fi["Order Type"] == "Mechanical")]

In [113]:
d["Total Amt Wtd Tax."].mean()

3461.956168433827

In [114]:
d["Total Amt Wtd Tax."].median()

1367.2

In [115]:
d["Total Amt Wtd Tax."].min()

0.01

In [116]:
d["Total Amt Wtd Tax."].max()

232668.17

In [117]:
copy_fi.loc[(copy_fi["Order Type"] == "Mechanical") & (copy_fi["Total Amt Wtd Tax."] == 0) & (copy_fi["Insurance Company"].isnull()),"Total Amt Wtd Tax."]= 3461.95

In [118]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Customer No.               0
Insurance Company     461453
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20005
updated_District         170
dtype: int64

### Imputing nan values of updated district.

In [119]:
copy_fi.loc[(copy_fi["Plant Name1"] == "VAPI") & (copy_fi["updated_District"].isnull()),"updated_District"]= "gujarat"

In [120]:
copy_fi.head()

,Unnamed: 0,Cust Type,Customer No.,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,67849,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95000,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra
1,1,Retail,84419,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29000,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra
2,2,Retail,81055,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14000,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13,thane,maharashtra
3,3,Retail,84419,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1674.22433,1644.70,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12,thane,maharashtra
4,4,Retail,18980,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12000,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35,thane,maharashtra

In [121]:
copy_fi.loc[(copy_fi["Plant Name1"] == "X008- AAKASH AUTO (Puducherry)") & (copy_fi["updated_District"].isnull()),"updated_District"]= "pondicherry"

In [122]:
copy_fi.isnull().sum()

Unnamed: 0                 0
Cust Type                  0
Customer No.               0
Insurance Company     461453
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
updated_CITY           20005
updated_District          76
dtype: int64

In [123]:
temp7 = copy_fi.loc[(copy_fi["updated_District"].isnull())].index

In [124]:
copy_fi.drop(temp7 , inplace=True)

### impute nan values of updated city column

In [125]:
copy_fi.loc[(copy_fi["Plant Name1"] == "YESHWANTPUR - BANGALORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "bengaluru"
copy_fi.loc[(copy_fi["Plant Name1"] == "NAGPUR") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nagpur"
copy_fi.loc[(copy_fi["Plant Name1"] == "NASHIK") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nashik"
copy_fi.loc[(copy_fi["Plant Name1"] == "HADAPSAR - PUNE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "pune"
copy_fi.loc[(copy_fi["Plant Name1"] == "X062 - S N S MOTORS MYSORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "mysuru"
copy_fi.loc[(copy_fi["Plant Name1"] == "SAS NAGAR - MOHALI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "mohali"
copy_fi.loc[(copy_fi["Plant Name1"] == "GREATER NOIDA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "gautam buddha nagar"
copy_fi.loc[(copy_fi["Plant Name1"] == "PANCHKULLA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "panchkula"
copy_fi.loc[(copy_fi["Plant Name1"] == "NERUL - NAVI MUMBAI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nerul - navi mumbai"
copy_fi.loc[(copy_fi["Plant Name1"] == "VAPI") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "valsad"
copy_fi.loc[(copy_fi["Plant Name1"] == "SURAT UDHANA") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "surat"
copy_fi.loc[(copy_fi["Plant Name1"] == "FARIDABAD 1") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "faridabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "NELLORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "nellore"
copy_fi.loc[(copy_fi["Plant Name1"] == "MOHAN NAGAR - GAZIABAD") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "ghaziabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "X017 - HEM KIRAN DIESELS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "kolhapur"
copy_fi.loc[(copy_fi["Plant Name1"] == "X110 - KALYAN SERVICES") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X034 - SOHAMM MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "aurangabad"
copy_fi.loc[(copy_fi["Plant Name1"] == "X012 - SR CAR CARE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "cuddalore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X023 - ROYAL KRR AUTOS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X036 - X-PRESS MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "madurai"
copy_fi.loc[(copy_fi["Plant Name1"] == "THANE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "thane"
copy_fi.loc[(copy_fi["Plant Name1"] == "BELLANDUR - BANGALORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "bengaluru"
copy_fi.loc[(copy_fi["Plant Name1"] == "COIMBATORE") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "coimbatore"
copy_fi.loc[(copy_fi["Plant Name1"] == "X010 - LVM MOTORS") & (copy_fi["updated_CITY"].isnull()),"updated_CITY"]= "vellore"

In [126]:
temp8 = copy_fi[(copy_fi["updated_CITY"].isnull())].index

In [127]:
copy_fi.drop(temp8 , inplace=True)

In [128]:
copy_fi.head()

,Unnamed: 0,Cust Type,Customer No.,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,updated_CITY,updated_District
0,0,Retail,67849,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95000,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra
1,1,Retail,84419,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29000,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra
2,2,Retail,81055,NaN,2015-01-03,173889,2015-01-02,11:40:44,33985,180.19,MARUTI SUZUKI,0.00,ZEN,0.00,Running Repairs,52.95,400607,BC01,THANE,NO,0.0,IMRAN,233.14000,233.14,BC01SA2,2015-01-03 11:12:57,2015-01-02 11:40:44,0 days 23:32:13,thane,maharashtra
3,3,Retail,84419,NaN,2015-01-03,174158,2015-01-03,10:12:32,78584,0.00,TATA MOTORS,0.00,INDICA,0.00,SMC Redemption,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1674.22433,1644.70,BC01SA2,2015-01-03 11:40:44,2015-01-03 10:12:32,0 days 01:28:12,thane,maharashtra
4,4,Retail,18980,NaN,2015-01-03,173860,2015-01-02,10:45:42,50057,1202.97,HYUNDAI,100.00,SANTRO XING,499.99,Paid Service,944.16,400603,BC01,THANE,NO,0.0,DAYANAND,2747.12000,2747.12,BC01SA2,2015-01-03 12:07:17,2015-01-02 10:45:42,1 days 01:21:35,thane,maharashtra

In [129]:
copy_fi.drop(columns=["Unnamed: 0"],inplace=True)

In [130]:
copy_fi["year"] = pd.DatetimeIndex(copy_fi["JobCard_DateTime"]).year

In [131]:
copy_fi["month"] = pd.DatetimeIndex(copy_fi["JobCard_DateTime"]).month

In [132]:
copy_fi.rename(columns={"updated_District": "State", "updated_CITY": "City","year":"Year","month":"Month"},inplace=True)

In [133]:
copy_fi.head(2)

,Cust Type,Customer No.,Insurance Company,Invoice Date,Job Card No,JobCard Date,JobCard Time,KMs Reading,Labour Total,Make,Misc Total,Model,OSL Total,Order Type,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Technician Name,Total Amt Wtd Tax.,Total Value,User ID,Invoice_DateTime,JobCard_DateTime,Service_Time,City,State,Year,Month
0,Retail,67849,NaN,2015-01-02,168303,2014-12-13,14:29:43,49317,1203.14,GENERAL MOTORS,0.00,SPARK,500.06,Paid Service,2348.75,400601,BC01,THANE,NO,0.0,RUPESH,4051.95,4051.95,BC01FS1,2015-01-02 11:30:36,2014-12-13 14:29:43,19 days 21:00:53,thane,maharashtra,2014,12
1,Retail,84419,NaN,2015-01-03,173997,2015-01-02,14:12:18,78584,804.26,TATA MOTORS,197.03,INDICA,0.00,SMC Value Package,0.00,400603,BC01,THANE,NO,0.0,PRASHANT,1001.29,1001.29,BC01SA2,2015-01-03 10:07:32,2015-01-02 14:12:18,0 days 19:55:14,thane,maharashtra,2015,1

In [134]:
copy_fi.shape

(477925, 31)

In [135]:
Data_Customer.columns

Index(['Business Partner', 'Customer No.', 'Partner Type', 'Data Origin',
       'Title', 'Occupation'],
      dtype='object')

In [136]:
copy_fi.isnull().sum()

Cust Type                  0
Customer No.               0
Insurance Company     454854
Invoice Date               0
Job Card No                0
JobCard Date               0
JobCard Time               0
KMs Reading                0
Labour Total               0
Make                       0
Misc Total                 0
Model                      0
OSL Total                  0
Order Type                 0
Parts Total                0
Pin code                   0
Plant                      0
Plant Name1                0
Print Status               0
Recovrbl Exp               0
Technician Name       213651
Total Amt Wtd Tax.         0
Total Value           179525
User ID                    0
Invoice_DateTime           0
JobCard_DateTime           0
Service_Time               0
City                       0
State                      0
Year                       0
Month                      0
dtype: int64

In [137]:
copy_fi.to_csv('cleaned_finalinvoice.csv')